@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-container">
    
    <div class="full-width-image">
        <img src="~/images/test.jpg" class="responsive-img" />
    </div>
    <div class="centeredH1"><h1>Velkommen til DcH's nye Event-kalender</h1></div>

    
</div>
