@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class ="privacy">
    <h1>Privatlivspolitik</h1>
    <img src="~/images/cheddar.gif" height="300" width="450"  />
</div>

